<div  style="padding:10px">
    <h6 style="line-height: 30px;vertical-align: middle ;margin-top:10px;padding-left:15px;font-weight:bold">Update Family Member</h6>
    <span class="header-line" style="margin-bottom:20px"></span>
    <div class="alert alert-success" role="alert" id="alert1" style="display:none">
        {{ message }}
      </div>
     
      <form role="form" #myForm="ngForm" [formGroup]="formGroup">
        <div class="row">
          <div class="col-md-4" [ngClass]="hasError('firstname')">
            <div>
              <label class="control-label">First Name</label>
            </div>
            <input class="form-control " formControlName="firstname" maxlength="200" name="firstname" autocomplete="off">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" [ngClass]="hasError('gender')">
            <div>
              <label class="control-label">Gender</label>
            </div>
            <select class="form-control" name="gender" formControlName="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="col-md-4" [ngClass]="hasError('birthdate')">
            <div>
              <label class="control-label">Birthdate</label>
            </div>
            <input class="form-control" maxlength="200" name="birthdate" autocomplete="off" formControlName="birthdate">
          </div>
          <div class="col-md-4" [ngClass]="hasError('maritalstatus')">
            <div>
              <label class="control-label">Marital Status</label>
            </div>
            <select class="form-control" name="maritalstatus" formControlName="maritalstatus">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" [ngClass]="hasError('jobstatus')">
            <div>
              <label class="control-label">Job Status</label>
            </div>
            <select class="form-control" name="jobstatus" formControlName="jobstatus">
              <option value="Male">Job Status 1</option>
              <option value="Female">Job Status 1</option>
              <option value="Female">Job Status 1</option>
              <option value="Female">Job Status 1</option>
            </select>
          </div>
          <div class="col-md-4" [ngClass]="hasError('email')">
            <div>
              <label class="control-label">Email</label>
            </div>
            <input class="form-control" maxlength="200" name="email" autocomplete="off" formControlName="email">
          </div>
          <div class="col-md-4" [ngClass]="hasError('mobileno')">
            <div>
              <label class="control-label">Mobile</label>
            </div>
            <input class="form-control" maxlength="200" name="mobileno" autocomplete="off" formControlName="mobileno">
          </div>
        </div>
        <div class="row">
         
          <div class="col-md-12" [ngClass]="hasError('address')">
            <div>
              <label class="control-label">Address</label>
            </div>
            <input class="form-control" maxlength="300" name="address" autocomplete="off" formControlName="address">
          </div>

        </div>
       
        <div class="row">
          <div class="col-md-12 text-right">
            <hr>
            <button type="button" (click)="onSubmit()" style="margin-right:10px" class="btn btn-success btn-sm">Save</button>
            <button type="button"  (click)="bsModalRef.hide()"  class="btn btn-success  btn-sm">Close</button>
          </div>
        </div>
      </form>
</div>